# File ini adalah contoh. 
# Copy isi file ini ke file baru bernama .env.local dan masukkan kunci API asli dari Supabase Anda.

VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhb...
